{% extends 'base.html.twig' %}

{% block title %}Редактирование курса / StudyOn{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('app_course_show', {'id': course.id }) }}">{{  course.name }}</a></li>
    <li class="breadcrumb-item active">Редактировать курс</li>
{% endblock %}

{% block body %}
    <h1>{{ course.name }}: Редактировать курс</h1>

    {{ include('course/_form.html.twig', {'button_label': "Сохранить"}) }}

    <hr class="hr"/>

    {{ include('course/_delete_form.html.twig') }}
{% endblock %}
