{% extends 'base.html.twig' %}

{% block title %}Редактирование курса / StudyOn{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('app_course_show', {'id': course.id }) }}">{{  course.name }}</a></li>
    <li class="breadcrumb-item active">Редактировать курс</li>
{% endblock %}

{% block body %}
    <h1>{{ course.name }}: Редактировать курс</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.symbolic_name) }}
        <button class="btn btn-outline-success">Сохранить</button>
    {{ form_end(form) }}

    <hr class="hr"/>

    {{ include('course/_delete_form.html.twig') }}
{% endblock %}
