{% extends 'base.html.twig' %}

{% block title %}{{ course.name }} / StudyOn{% endblock %}

{% block body %}
    <a href="{{ path('app_course_index') }}"><< Вернуться к списку курсов</a>

    <h1>{{ course.name }}</h1>
    <p> {{ course.description }}</p>

    <h2>Доступные уроки:</h2>
    <table class="table">
        <tbody>
            {% for lesson in course.lessons %}
            <tr>
                <td>{{ lesson.index }}</td>
                <td><a href="{{ path('app_lesson_show', {'id': lesson.id}) }}">{{ lesson.name }}</a></td>
                <td>{{ lesson.content }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="3">Уроки не найдены</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_lesson_new') }}?course_id={{ course.id }}">Добавить урок</a>

    <a href="{{ path('app_course_edit', {'id': course.id}) }}">Редактировать курс</a>

    {{ include('course/_delete_form.html.twig') }}
{% endblock %}
