{% extends 'base.html.twig' %}
{% block title %}StudyOn/Профиль{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item">Профиль</li>
{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-header bg-primary text-white">
                        <h4 class="mb-0">Профиль пользователя</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <strong>Имя:</strong> {{ email }}
                            </li>
                            <li class="list-group-item">
                                <strong>Роль:</strong> {{ is_granted("ROLE_ADMIN") ? "Администратор" : "Пользователь" }}
                            </li>
                            <li class="list-group-item">
                                <strong>Баланс:</strong> {{ balance }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card shadow-sm">
                    <div class="card-header bg-primary text-white">
                        <h4 class="mb-0">Транзакции</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Дата</th>
                                    <th scope="col">Тип операции</th>
                                    <th scope="col">Курс</th>
                                    <th scope="col">Сумма</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if transactions|length > 0 %}
                                    {% for transaction in transactions %}
                                        <tr>
                                           <td>{{ transaction.created_at }}</td>
                                           <td>{{ transaction.type }}</td>
                                            {% if transaction.course_name is defined %}
                                                <td><a href="{{ path('app_course_show', {'id': transaction.course_id}) }}">{{ transaction.course_name }}</a></td>
                                            {% else %}
                                                <td>{{ transaction.course_code|default('') }}</td>
                                            {% endif %}
                                            <td>{{ transaction.amount }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="4">Записи не найдены</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
