{% extends 'base.html.twig' %}

{% block title %}Новый урок/StudyOn{% endblock %}

{% block body %}
    <nav>
        <span>StudyOn</span>
        /
        {% if lesson.course != null %}
            <a href="{{ path('app_course_index') }}">Список курсов</a>
            /
            <a href="{{ path('app_course_show', {'id': lesson.course.id}) }}">{{ lesson.course.name }}</a>
            /
        {% else %}
            <a href="{{ path("app_lesson_index") }}">Список уроков</a>
            /
        {% endif %}
        <span>Создать новый урок</span>
    </nav>

    <h1>Создать новый урок</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.content) }}
        {% if lesson.course != null %}
            {%- set type = 'hidden' -%}
            {{ form_row(form.Course) }}
            <label>Курс: {{ lesson.course.name }}</label>
        {% else %}
            {{ form_row(form.Course) }}
        {% endif %}
        {{ form_row(form.index) }}
    <button type="submit">Создать</button>
    {{ form_end(form) }}

{% endblock %}
