{% extends 'base.html.twig' %}

{% block title %}Новый урок/StudyOn{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('app_course_show', {'id': lesson.course.id}) }}">{{ lesson.course.name }}</a></li>
    <li class="breadcrumb-item active">Добавление урока</li>

{% endblock %}

{% block body %}
    <h1>Создать новый урок</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.content) }}
        {{ form_row(form.Course) }}
        {% if lesson.course != null %}
            <label>Курс: {{ lesson.course.name }}</label>
        {% endif %}
        {{ form_row(form.index) }}
    <button type="submit" class="btn btn-outline-success">Создать</button>
    {{ form_end(form) }}

{% endblock %}
